In [9]:
import pandas as pd
import numpy as np

1 Treino 
2 Validação
3 Teste

In [18]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [19]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)

In [22]:
variaveis = ['Sex_binario','Age']

In [23]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0
#usando map() para aplicar linha a linha na coluna selecionada

train['Sex_binario'] = train['Sex'].map(transformar_sexo)

In [25]:
X = train[variaveis]
y = train['Survived']
X.head()

   Sex_binario   Age
0            0  22.0
1            1  38.0
2            1  26.0
3            1  35.0
4            0  35.0

In [26]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [32]:
# preencher valores de NaN encontrados com -1 pois é um valor de inflexão o que facilitara a identificação pelo modelo
X = X.fillna(-1)

In [33]:
# X variável de entrada y variavel a ser prevista
modelo.fit(X,y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [38]:
# Tranformação devem ser as mesmas para os dados de treino e teste
# E o uso também deve ser feito na mesma ordem (comparação das matrizes)
test['Sex_binario'] = test['Sex'].map(transformar_sexo)

In [39]:
#aplicar modelo nos dados de teste
X_prev = test[variaveis]
X_prev = X_prev.fillna(-1)
X_prev.head()

   Sex_binario   Age
0            0  34.5
1            1  47.0
2            0  62.0
3            0  27.0
4            1  22.0

In [45]:
p = modelo.predict(X_prev)

In [46]:
sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [51]:
sub.to_csv('primeiro_modelo.csv',header=True)

In [54]:
with open("primeiro_modelo.csv") as f:
    for _ in range(10): # first 10 lines
        print(f.readline())

PassengerId,Survived

892,0

893,1

894,0

895,1

896,1

897,0

898,1

899,0

900,1